
/* 
    Created on : Mar 6, 2017, 7:26:19 PM
    Author     : Max
*/



#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#login{
    position: fixed;
    top: 50%;
    width: 100%;
    transform: translate(0%, -50%);
}
.btn-signin{
    max-width: 100%;
}
#regFormButton{
    text-align: center;
    display:block; /* change this from inline-block */
    width:50%; /* setting the width */
    margin:0 auto;
}

.form-signin {


    max-width: 80%;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  



    .form-signin-heading,

    .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;

    }

    input[type="text"] {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    input[type="password"] {
        margin-bottom: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
